@model IEnumerable<EmpSchedule.BusinessLogic.ShiftSlots>

@{
    ViewBag.Title = "GetEmpScheduler";
    var slotFrom = new TimeSpan();
}

<h2>Get Employees Scheduler</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftDate.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlotFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlotTo)
        </td>
        
    </tr>
}

</table>
